## These are not real credentials - only the env variables
## These are not real credentials - only the env variables
#
## Django website
#DEBUG='false'
#
## Misc Variables (Probably Old)
#APP_MODE='THIS IS NOT A KEY'
#MAX_ORDER_DOLLARS='THIS IS NOT A KEY'
#MAX_POSITION_PERCENT='THIS IS NOT A KEY'
#REQUIRE_CONFIRMATION_TEXT='THIS IS NOT A KEY'
#
## Schwab Trader API credentials.
## Copy this file to .env and fill in the real values locally.
#SCHWAB_CLIENT_ID='THIS IS NOT A KEY'
#SCHWAB_CLIENT_SECRET='THIS IS NOT A KEY'
#SCHWAB_REDIRECT_URI='THIS IS NOT A KEY'
#SCHWAB_WRITE_SNAPSHOT='THIS IS NOT A KEY'
#SCHWAB_ENABLE_LIVE_ORDERS='THIS IS NOT A KEY'
#SCHWAB_MAX_LIVE_ORDER_DOLLARS='THIS IS NOT A KEY'
#
## HYPERLIQUID VARIABLES & SEEDS
#HYPERLIQUID_ENABLE_LIVE_ORDERS='THIS IS NOT A KEY'
#HYPERLIQUID_MAX_LIVE_ORDER_DOLLARS='THIS IS NOT A KEY'
#HYPERLIQUID_WALLET_API='THIS IS NOT A KEY'
#HYPERLIQUID_WALLET_SEED='THIS IS NOT A KEY'
#HYPE_ALEX_API_KEY='THIS IS NOT A KEY'
#HYPE_ALEX_WALLET_SEED='THIS IS NOT A KEY'
#HYPE_ALEX_WALLET_ADDRESS='THIS IS NOT A KEY'
#
## HYPERLIQUID ACTION MOVES
#HYPE_WALLET_ADDRESS_ALEX='THIS IS NOT A KEY'
#HYPE_WALLET_ADDRESS_JEREMY='THIS IS NOT A KEY'
#HYPE_WALLET_ADDRESS_ALEX_SECONDSTATE='THIS IS NOT A KEY'
#HYPE_WALLET_ADDRESS_JEREMY_SECONDSTATE='THIS IS NOT A KEY'
#HYPE_API_ADDRESS_JEREMY='THIS IS NOT A KEY'
#HYPE_API_ADDRESS_ALEX='THIS IS NOT A KEY'
#HYPE_API_SECRET_JEREMY='THIS IS NOT A KEY'
#HYPE_API_SECRET_ALEX='THIS IS NOT A KEY'
#
## HYPERLIQUID TRADING
#HYPE_PRIVATE_KEY_ALEX_SECONDSTATE='THIS IS NOT A KEY'
#
## HYPERLIQUID TRANSFER TO/FROM ALEX/JEREMY
#HYPERLIQUID_ENABLE_FUND_TRANSFERS='THIS IS NOT A KEY'
#HYPERLIQUID_MAX_FUND_TRANSFER_DOLLARS='THIS IS NOT A KEY'
#HYPE_WALLET_SECRET_ALEX='THIS IS NOT A KEY'
#HYPE_WALLET_SECRET_JEREMY='THIS IS NOT A KEY'
#
## OPENAI KEYS
#OPENAI_API_KEY='THIS IS NOT A KEY'
#
## FMP / MARKET DATA API STUFF
#MARKET_SCREENER_MARKET_DATA_PATH=''
#MARKET_UNIVERSE_PROVIDER='fmp'
#MARKET_UNIVERSE_SEED_PATH=''
## Paid FMP users can keep the screener/page cap at 100 to reduce blanks. Free/trial users may lower this.
#MARKET_SCREENER_MARKET_DATA_SYMBOL_LIMIT='100'
#FMP_API_KEY='THIS IS NOT A KEY'
#FMP_BASE_URL='https://financialmodelingprep.com/stable'
## Paid FMP users can use 100; lower this if your FMP plan/quota is tighter.
#FMP_MARKET_DATA_SYMBOL_LIMIT='100'
#FMP_CACHE_TTL_SECONDS='900'
#
#ASK_SCREENER_AUTO_ENRICH='true'
#ASK_SCREENER_PROFILE_ENRICH_LIMIT='2000'
#ASK_SCREENER_QUOTE_ENRICH_LIMIT='2000'
#ASK_SCREENER_FUNDAMENTAL_ENRICH_LIMIT='1000'
#ASK_SCREENER_DATABENTO_TAPE_ENRICH_LIMIT='2000'
#ASK_SCREENER_REQUIRE_CONFIRM_ABOVE='3000'
#ASK_SCREENER_SMALL_CAP_MAX_MARKET_CAP='2000000000'
#ASK_SCREENER_PENNY_STOCK_MAX_PRICE='5'
#
#MARKET_SCREENER_PROVIDER_BACKFILL_ENABLED='true'
#MARKET_SCREENER_PROFILE_BACKFILL_LIMIT='2000'
#MARKET_SCREENER_QUOTE_BACKFILL_LIMIT='2000'
#MARKET_SCREENER_FUNDAMENTAL_BACKFILL_LIMIT='1000'
#MARKET_SCREENER_DATABENTO_BACKFILL_LIMIT='2000'
#MARKET_SCREENER_BACKFILL_BATCH_SIZE='100'
#MARKET_SCREENER_BACKFILL_CACHE_TTL_SECONDS='3600'
#MARKET_SCREENER_CONFIRM_BACKFILL_ABOVE='3000'
#
#MARKET_SCREENER_FALLBACK_PROVIDER=''
#MARKET_SCREENER_FALLBACK_SYMBOL_LIMIT='100'
#ALPHA_VANTAGE_API_KEY='THIS IS NOT A KEY'
#ALPHA_VANTAGE_BASE_URL='https://www.alphavantage.co/query'
#ALPHA_VANTAGE_CACHE_TTL_SECONDS='900'
#
#DATABENTO_API_KEY='THIS IS NOT A KEY'
#DATABENTO_EQUITIES_DATASET='EQUS.MINI'
#DATABENTO_EQUITIES_SCHEMA='ohlcv-1m'
#DATABENTO_EQUITIES_SYMBOL_LIMIT='1000'
#DATABENTO_CACHE_TTL_SECONDS='900'
#MARKET_SCREENER_ENABLE_DATABENTO_EQUITIES='true'
#
## Databento CME Globex is cross-asset futures/options context only.
## It is not merged into selected-equity quote/fundamental fields.
#DATABENTO_CME_DATASET='GLBX.MDP3'
#DATABENTO_CME_SCHEMA='ohlcv-1m'
#DATABENTO_CME_SYMBOLS=''
#DATABENTO_CME_SYMBOL_LIMIT='25'
#MARKET_SCREENER_ENABLE_DATABENTO_CME_CONTEXT='false'
#
## Official macro context sources.
#CENSUS_API_KEY='THIS IS NOT A KEY'
#EIA_API_KEY='THIS IS NOT A KEY'
#MACRO_ENABLE_CENSUS='true'
#MACRO_ENABLE_FEDERAL_RESERVE='true'
#MACRO_ENABLE_EIA='true'
#
## Twilio API Creds
#
## Use one sender option: a Twilio number or a Messaging Service SID.
## Artist Watchlist website calendar
#SECONDSTATE_BASE_URL='https://secondstate.art'
#CALENDAR_TIME_ZONE='America/Los_Angeles'
#SECONDSTATE_PUBLIC_URL='https://secondstate.art'
#
## Google API
#GOOGLE_GMAIL_CLIENT_ID='THIS IS NOT A KEY'
#GOOGLE_GMAIL_CLIENT_SECRET='THIS IS NOT A KEY'
#AUCTION_EMAIL_SENDING_ENABLED=false
#GOOGLE_GMAIL_REFRESH_TOKEN=