{% extends "base.html" %}
{% block content %}
<h1>Contact</h1>

<div class="contact-grid">
  <div class="contact-card">
    <h2>Oliver</h2>
    <p><a href="tel:+19142152102">914-215-2102</a></p>
    <p><a href="mailto:oliver@secondstate.art">oliver@secondstate.art</a></p>
  </div>

  <div class="contact-card">
    <h2>Jeremy</h2>
    <p><a href="tel:+16313654554">631-365-4554</a></p>
    <p><a href="mailto:jeremy@secondstate.art">jeremy@secondstate.art</a></p>
  </div>

  <div class="contact-card">
    <h2>Ben</h2>
    <p><a href="tel:+17182165034">703-626-0502</a></p>
    <p><a href="mailto:hello@secondstate.art">alex@secondstate.art</a></p>
  </div>
</div>
{% endblock %}
